/* Background-color */
.msm-bg-50 {
    background-color: var(--blue-msm-50) !important;
}

.msm-bg-100 {
    background-color: var(--blue-msm-100) !important;
}

.msm-bg-200 {
    background-color: var(--blue-msm-200) !important;
}

.msm-bg-300 {
    background-color: var(--blue-msm-300) !important;
}

.msm-bg-400 {
    background-color: var(--blue-msm-400) !important;
}

.msm-bg-500 {
    background-color: var(--blue-msm-500) !important;
}

.msm-bg-600 {
    background-color: var(--blue-msm-600) !important;
}

.msm-bg-700 {
    background-color: var(--blue-msm-700) !important;
}

.msm-bg-800 {
    background-color: var(--blue-msm-800) !important;
}

.msm-bg-900 {
    background-color: var(--blue-msm-900) !important;
}

.msm-bg-950 {
    background-color: var(--blue-msm-950) !important;
}

.msm-bg-black {
    background-color: var(--msm-black) !important;
}

.msm-bg-b {
    background-color: var(--blue-msm-400) !important;
}

.msm-bg-b-dark {
    background-color: var(--msm-blue-v3) !important;
}

.msm-bg-b-v4 {
    background-color: var(--msm-blue-v4) !important;
}

.msm-bg-b-light {
    background-color: var(--msm-blue-light) !important;
}

.msm-text-gray {
    color: var(--msm-gray) !important;
}

.msm-text-b-dark {
    color: var(--msm-blue-v3) !important;
}

.msm-text-b-light {
    color: var(--msm-blue-light) !important;
}

.msm-text-b {
    color: var(--msm-blue) !important;
}