# Ignorar todo


# 👉 Incluir solo la ruta al theme
!msm-dev/app/public/wp-content/themes/msmtheme/**
  
# Ignorar carpetas comunes del ecosistema
/node_modules/
/uploads/
msm-dev/
msm-dev/app/
msm-dev/app/public/
msm-dev/app/public/wp-content/
msm-dev/app/public/wp-content/themes/

