
/* Transiciones generales */
.wrapper-accesos {
  margin-top: 1rem;
  z-index: 100;
  transition: margin-top 0.4s ease;
}

.wrap-botonera {
  transition: color 0.35s ease, transform 0.5s ease-in-out;
  z-index: 100;
}

.wrap-botonera h5 {
  font-size: 1.2rem;    
  font-weight: bold;
  line-height: 1.4rem;
  letter-spacing: -1%;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 10px; 
  transition: font-size 0.3s ease, line-height 0.3s ease, margin-top 0.3s ease;
}

.wrap-botonera .home-link {
  height: 100%;
  width: 100%;
  min-height: 140px;
  aspect-ratio: unset;
  align-items: center;
  cursor: pointer;
  background-color: var(--bs-body-bg);
  color: var(--color-text-subtitle);
  box-shadow: 12px 10px 21px rgba(0, 0, 0, 0.35);
  transition:
    transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.wrap-botonera .home-link svg,
.wrap-botonera .home-link .icon-svg svg {
  width: 60%;
  height: auto;
  margin: auto;
  display: block;
  color: var(--bs-primary);
  fill: var(--bs-primary);
}

.wrap-botonera .home-link:hover h5,
.wrap-botonera .home-link:hover svg {
  color: var(--bs-body-bg);
  fill: var(--bs-body-bg);
}

.wrap-botonera .home-link:hover {
  transform: translateY(-10px);
  background-color: var(--bs-primary);
  color: var(--bs-body-bg);
  box-shadow: 18px 16px 28px rgba(0, 0, 0, 0.45);
}


/* MOBILE: hasta 767.98px → rectangular */
@media (max-width: 767.98px) {
  .wrap-botonera .home-link {
    aspect-ratio: unset;
    min-height: 100px;
    padding: 1rem;
    flex-direction: column;
  }

  .wrap-botonera h5 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 2px;
  }

  .wrap-botonera .home-link svg,
  .wrap-botonera .home-link .icon-svg svg {
    width: 100px;
  }
}


/* TABLET: cuadrados y centrados */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrap-botonera .home-link {
    aspect-ratio: 1 / 1;
    min-height: unset; 
    height: auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* DESKTOP: transición suave de margin y font-size */
@media (min-width: 990px) {
  .wrapper-accesos {
    margin-top: -2.4rem;
  }

  .wrap-botonera .home-link {
    aspect-ratio: 1 / 1;
  }

  
  .wrap-botonera h5 {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 4px;
  }
}

@media (min-width: 1199px) {
  .wrapper-accesos {
    margin-top: -2.4rem;
  }

  .wrap-botonera h5 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 6px;
  }
}

