.wrap-botonera {
    margin-top: -2.6rem;
    transition: color 0.35s ease;
    transition: transform 0.5s ease-in-out;
    z-index: 100;
}

.wrap-botonera h4 {
    font-size: 1.2rem;
    font-style: bold;
    line-height: 1.4rem;
    letter-spacing: -1%;
    text-transform: uppercase;
    margin-top: 8px;
}

.wrap-botonera .home-link {
    height: 100%;
    min-height: 120px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--bs-body-bg);
    color: var(--color-text-subtitle);
    /* box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.12);
    transition: 
        transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        color 0.3s ease; */
        box-shadow: 12px 10px 21px rgba(0, 0, 0, 0.35);
        transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
                    background-color 0.3s ease,
                    box-shadow 0.3s ease;        
}


.wrap-botonera .home-link svg,
.wrap-botonera .home-link .icon-svg svg {
    width: 150px;
    height: auto;
    color:var(--bs-primary);
    fill:var(--bs-primary);
}

.wrap-botonera .home-link:hover h4,
.wrap-botonera .home-link:hover svg{
    color: var(--bs-body-bg);
    fill: var(--bs-body-bg);
}

.wrap-botonera .home-link:hover {
    transform: translateY(-10px);
    background-color: var(--bs-primary);
    color: var(--bs-body-bg);
    /* box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2); */
    box-shadow: 18px 16px 28px rgba(0, 0, 0, 0.45);
}
