/* ACCORDION BOOTSTRAP*/
.msm-accordion-item {
    border: none !important;
}

.msm-accordion-button {
    color: var(--msm-gray) !important;
    gap: 10px !important;
    display: flex !important;
    justify-content: center !important;
    border: none !important;
}

.msm-accordion-button:focus {
    z-index: 3;
    border: none !important;
    outline: 0;
    box-shadow: none !important;
}

.msm-accordion-button:not(.collapsed) {
    color: var(--msm-blue-v3) !important;
    background-color: white !important;
    box-shadow: none;
}

.msm-accordion-button::after {
    margin-left: 0 !important;
}

.msm-accordion-cat {
    /* margin-top: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #a7a7a7bf;
}

.msm-accordion-cat a {
    font-size: 16px !important;
    color: var(--msm-blue-v3) !important;
    font-weight: 600 !important;
}

.msm-accordion-subcat {
    padding: 5px;
    border-bottom: 1px solid #e3e3e3bf;
}

.msm-accordion-subcat:hover {
    background-color: #f3f3f3bf;
}

.msm-accordion-subcat a {
    display: flex;
    text-decoration: none !important;
    color: var(--msm-gray) !important;
}

.msm-dropdown-menu[data-bs-popper] {
    /* right: 0 !important; */
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.25);
    top: 80px !important;
}

/* .dropdown-menu[data-bs-popper] {
    left: auto !important;
} */

.msm-dropdown-menu-onecol {
    width: 30%;
    overflow-y: scroll;
    max-height: 500px;
    top: 80px;
}

.msm-dropdown-toggle {
    font-size: 16px;
    color: var(--blue-msm-300) !important;
    /* font-weight: 600; */
}

.msm-dropdown-toggle::after {
    display: none !important;
}

.msm-dropdown-toggle:hover {
    color: var(--blue-msm-600) !important;
}

.msm-dropdown-menu-item {
    padding: 10px;
    border-bottom: 1px solid #a7a7a7bf;
    min-height: 70px;
}

.msm-dropdown-menu-cat {
    min-height: 50px;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.msm-dropdown-menu-subcat {
    padding-top: 5px;
    padding-left: 1em !important;
    padding-bottom: 5px;
    border-top: 1px solid #e3e3e3bf !important;
}

.msm-dropdown-menu-subcat small {
    font-size: 12px !important;
}

.msm-dropdown-menu-subcat:hover {
    /* background-color: #f3f3f3bf !important; */
    cursor: pointer;
    background: #f1f1f1bf !important;
}

.msm-dropdown-menu-cat a {
    display: flex;
    color: #575756 !important;
    font-weight: 600;
}

.msm-dropdown-menu-subcat a {
    color: var(--msm-black) !important;
    text-decoration: none !important;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 40px;
    align-items: center;
}

/*dropdown menu special*/

.msm-dropdown-menu .dropdown button {
    color: var(--blue-msm-700);
}

.msm-dropdown-menu .dropdown button.show {
    color: var(--blue-msm-400);
}

.msm-dropdown-cat {
    display: none;
}

.msm-dropdown-cat.show {
    display: contents;
}