  /* Sidebar */
  .sidebar-card {
    background-color: var(--msm-black, #575756);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
    color: white;
}

aside.sidebar-card ul li,
aside.sidebar-card p {
    color: white;
}

aside.sidebar-card ul{
    color: white;
    padding: inherit;
    padding-top: 0;
}