/* Media queries para hacerlas responsivas */
@media only screen and (max-width: 600px) {
    .menu-lugares-container #menu-lugares li {
        width: 100%;
    }

    .msm-banner-title h1 {
        font-size: 2rem;
    }

    .grid-item {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .menu-lugares-container #menu-lugares li {
        width: 49%;
    }

    .msm-banner-title h1 {
        font-size: 2rem;
    }

    .grid-item {
        width: 300px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    .menu-lugares-container #menu-lugares li {
        width: 33%;
    }

    .msm-banner-title h1 {
        font-size: 4rem;
    }

    .grid-item {
        width: 300px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .menu-lugares-container #menu-lugares li {
        width: 33%;
    }

    .msm-banner-title h1 {
        font-size: 5rem;
    }

    .grid-item {
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .menu-lugares-container #menu-lugares li {
        /* width: 19%; */
    }

    .grid-item {
        width: 300px;
    }

    .msm-banner-title h1 {
        font-size: 5rem !important;
    }
}
