@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-optical-sizing: auto;
}

h1 { 
    font-size: var(--msm-text-xl); 
    font-weight: 700; 
    line-height: 1.1; 
    margin: 0 0 12px; 
    letter-spacing: -0.02rem;
    color: var(--color-text-main);
} 

h2 { 
    font-size: var(--msm-text-lg); 
    font-weight: 700; 
    line-height: 1.2; 
    color: var(--color-text-main);
} 

h3 { 
    font-size: var(--msm-text-md); 
    font-weight: 600; 
    line-height: 1.3; 
} 

h4 { 
    font-size: var(--msm-text-sm); 
    font-weight: 600;
    line-height: 1.4;
    color: var(--color-text-subtitle);
} 

h5 { 
    font-size: var(--msm-text-xs); 
    font-weight: 500; 
    /* line-height: 1.5; */ 
    line-height: 1.3;
    color: var(--color-text-subtitle);
} 

h6 { 
    font-size: var(--msm-text-xxs); 
    font-weight: 500; 
    line-height: 1.5; 
    color: var(--color-text-subtitle);
} 

p { 
    font-size: var(--msm-text-xxs); 
    line-height: 1.55;
    font-weight: 400;
    color: var(--color-text-body);
} 
  
small { 
    font-size: 0.875rem; /* 14px basado en 16px */
    line-height: 1.6; 
    font-weight: 400;
} 
  
.xsmall,
caption { 
    font-size: 0.75rem; /* 12px basado en 16px */
    line-height: 1.5; 
  }
 
  ol li, ul li,
  ol li, ul li {
    font-size: var(--msm-text-xxs); 
    line-height: 1.55;
    font-weight: 400;
    color: var(--color-text-body);
  }

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* TEXT WEIGHT */
.fw-200 {
    font-weight: 200 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}
/* TEXT WEIGHT */

/* COLOR */
.msm-text-50 {
    color: var(--blue-msm-50) !important;
}
.msm-text-100 {
    color: var(--blue-msm-100) !important;
}
.msm-text-200 {
    color: var(--blue-msm-200) !important;
}
.msm-text-300 {
    color: var(--blue-msm-300) !important;
}
.msm-text-400 {
    color: var(--blue-msm-400) !important;
}
.msm-text-500 {
    color: var(--blue-msm-500) !important;
}
.msm-text-600 {
    color: var(--blue-msm-600) !important;
}
.msm-text-700 {
    color: var(--blue-msm-700) !important;
}
.msm-text-800 {
    color: var(--blue-msm-800) !important;
}
.msm-text-900 {
    color: var(--blue-msm-900) !important;
}
.msm-text-950 {
    color: var(--blue-msm-950) !important;
}
/* COLOR */

/* TEXT RESPONSIVE */
.msm-font-xxs {
    font-size: var(--msm-text-xxs) !important;
}

.msm-font-xs {
    font-size: var(--msm-text-xs) !important;
}

.msm-font-sm {
    font-size: var(--msm-text-sm) !important;
}

.msm-font-md {
    font-size: var(--msm-text-md) !important;
}

.msm-font-lg {
    font-size: var(--msm-text-lg) !important;
}

.msm-font-xl {
    font-size: var(--msm-text-xl) !important;
}

.msm-font-2xl {
    font-size: var(--msm-text-2xl) !important;
}

.msm-font-3xl {
    font-size: var(--msm-text-3xl) !important;
}

.msm-font-4xl {
    font-size: var(--msm-text-4xl) !important;
}

/* TEXT RESPONSIVE */

/* FONT SIZE */

.fz-8 {
    font-size: 8px !important;
}

.fz-9 {
    font-size: 9px !important;
}

.fz-10 {
    font-size: 10px !important;
}

.fz-11 {
    font-size: 11px !important;
}

.fz-12 {
    font-size: 12px !important;
}

.fz-13 {
    font-size: 13px !important;
}

.fz-14 {
    font-size: 14px !important;
}

.fz-15 {
    font-size: 15px !important;
}

.fz-16 {
    font-size: 16px !important;
}

.fz-20 {
    font-size: 20px !important;
}

.fz-22 {
    font-size: 22px !important;
}

.fz-24 {
    font-size: 24px !important;
}

.fz-26 {
    font-size: 26px !important;
}

.fz-28 {
    font-size: 28px !important;
}

.fz-30 {
    font-size: 30px !important;
}
.fz-42 {
    font-size: 42px !important;
}
/* FONT SIZE */

/* FONT COLOR  */
.msm-text-50 {
    color: var(--blue-msm-50) !important;
}

.msm-text-100 {
    color: var(--blue-msm-100) !important;
}

.msm-text-200 {
    color: var(--blue-msm-200) !important;
}

.msm-text-300 {
    color: var(--blue-msm-300) !important;
}
.msm-text-400 {
    color: var(--blue-msm-400) !important;
}

.msm-text-500 {
    color: var(--blue-msm-500) !important;
}

.msm-text-600 {
    color: var(--blue-msm-600) !important;
}

.msm-text-700 {
    color: var(--blue-msm-700) !important;
}
.msm-text-800 {
    color: var(--blue-msm-800) !important;
}

.msm-text-900 {
    color: var(--blue-msm-900) !important;
}
.msm-text-950 {
    color: var(--blue-msm-950) !important;
}

.msm-text-black {
    color: #717075 !important;
}
